[package]
name = "{{ project_name }}"
version = "0.1.0"
authors = [{{ author | to_json(ensure_ascii=False) }}]
edition = "2021"
{%- if project_description %}
description = {{ project_description | to_json(ensure_ascii=False) }}
{%- endif %}
readme = "README.md"
license = "BSD-2-Clause-Patent"
include = ["Cargo.toml", "src/**/*.rs", "README.md", "LICENSE"]

[dependencies]

[profile.release]
lto = "fat"
codegen-units = 1
incremental = false
{%-  if is_app %}
strip = true
panic = "abort"
{%-  endif %}
